/* thank god I have version control on this.... */
p {
	margin: 0px 0px 0px 0px;
}
.header {

	font-size: 1.5em;
	color: rgb(0, 195, 137);
	margin: 2.1em 15px 1em 15px;
}
.header .author {
	color: #ccc;
	font-size: 0.85rem;
	margin: 2px 0px 0px 5px;
}
.content {
	font-size: 0.9em;
	text-align: justify;
}
.content p {
	margin: 20px 30px 20px 30px
}
.content .heading {
	font-size: 1.1em;
	color: rgb(0, 195, 137);
	margin: 0px 0px 0px 5px;
}
.contentheadingtxt {
	color: #ccc;
}
.content .main {
	margin: 15px;
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	width: 30%;
}
.content .backarrow {
	margin: 0px 0px 0px 30px;
}
.footer {
	margin: 1em 5% 50px 5%;
	color: rgb(94, 94, 94);
	font-size: 11px;
}
.right {
	float: right;
}
.left {
	float: left;
}
a {
	color: rgb(0, 195, 137);
}
a:hover {
	text-decoration-color: red;
}

body {
	margin: 5px 25% 5px 25%;
}

.container1 {
	margin: 20px 30px 20px 30px;
	overflow: auto;
}
.content1 {
	float: left;
	border-width: 3px 3px 3px 3px;
	border-style: solid;
	border-color: rgb(0, 195, 137);
}
.content2 {
	float: right;
	border-width: 3px 3px 3px 3px;
	border-style: solid;
	border-color: rgb(0, 195, 137);
}
.content3 {
	clear: both;
	float: left;
	border-width: 3px 3px 3px 3px;
	border-style: solid;
	border-color: rgb(0, 195, 137);
	margin: 5px 0px 0px 0px;
}
.content4 {
	float: left;
	border-width: 3px 3px 3px 3px;
	border-style: solid;
	border-color: rgb(0, 195, 137);
	margin: 5px 0px 0px 0px;
}
html {
	background-color: rgb(29, 31, 33);
	font-family: "Menlo", "Meslo LG", monospace;
	color: #ccc;
}
.sidebar {
	margin: 0px 3% 0px 0%;
	float: left;
	border-style: solid;
	border-color: red;
	overflow: auto;
}
.content {
	overflow: auto;
	margin: 0px 0% 0px 0%;
	border-style: solid;
	border-color: red;
}
.header {
	margin: 5px 30% 5px 25%;
}