h1 {
	color: hotpink;
	border-bottom: 10px dotted purple;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 55px;
}
p.occupation {
	color: grey;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 25px;
}
p {
	outline-style: dashed;
	outline-offset: 0.25em;
	font-family: sans-serif;
}
ul {
	border: 5px solid pink;
	padding: 10px 0px 10px 40px;
}
.email {
	color: green;
}
a {
	color: pink;
}
a:hover {
	color: green;
}
html {
	padding: 30px 80px 0px 80px;
}
